body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #7A288A, #FFC5C5); /* purple and pink gradient background */
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #333; /* dark gray background */
    color: #fff; /* white text */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444; /* dark gray border */
  }
  
  .write-task-section {
    background-color: #fff; /* white background */
    padding: 20px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #task {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc; /* light gray border */
    border-radius: 5px;
  }
  
  #add-task {
    background-color: #666; /* dark gray background */
    color: #fff; /* white text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #add-task:hover {
    background-color: #555; /* dark gray background */
  }
  
  .task-list-section {
    margin-top: 20px;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* light gray border */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #task-list li:last-child {
    border-bottom: none;
  }
  
  #task-list li:hover {
    background-color: #f5f5f5; /* light gray background */
  }
  
  .task-text {
    flex-grow: 1;
    color: #333; /* dark gray text */
  }
  
  .edit-task, .delete-task {
    margin-left: 10px;
    cursor: pointer;
    color: #666; /* dark gray text */
  }
  
  .edit-task:hover, .delete-task:hover {
    color: #333; /* dark gray text */
  }
  
  .edit-task {
    font-size: 18px;
  }
  
  .delete-task {
    font-size: 18px;
    color: #FF69B4; /* pink text */
  }
  
  .fas {
    font-size: 18px;
    margin-left: 10px;
  }
  
  /* Responsive design */
  
  @media (max-width: 768px) {
    .container {
      max-width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 300px;
    }
    .write-task-section {
      padding: 10px;
    }
    #task {
      height: 30px;
      padding: 5px;
    }
    #add-task {
      padding: 5px 10px;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      max-width: 250px;
    }
  
    .write-task-section {
    }
  }